*.o
# per tutti i file generati dal make

game
# per l'eseguibile generato dal comando make

*.gch
# per altri eventuali file generati dal compilatore

.vscode
# per evitare che la cartella di sviluppo di vscode venga salvata su github

SCORE.txt
# per non salvare lo score